<!DOCTYPE html>
<html>
<head>
  <title>GoPro</title>
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
</head>
<body>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%= render 'layouts/navbar' %>
	<div class="top_bar"></div>
<%= yield %>
	

</body>
</html>
